DB__POSTGRES_SCHEME=postgresql+asyncpg
DB__POSTGRES_HOST=localhost
DB__POSTGRES_PORT=5432
DB__POSTGRES_DB=capacity_planning
DB__POSTGRES_USER=postgres
DB__POSTGRES_PASSWORD=postgres
DB__DATABASE_ECHO=False

COMMON__FRONTEND_HOST='http://localhost:5555'
COMMON__BACKEND_HOST='http://localhost:5050'

AUTH__PRIVATE_KEY_PATH=private.pem
AUTH__PUBLIC_KEY_PATH=public.pem
AUTH__ACCESS_TOKEN_LIFETIME_SECONDS=600
AUTH__REFRESH_TOKEN_LIFETIME_SECONDS=3600
AUTH__ALGORITHM=HS256

ROLE__ADMIN_EMAIL=admin@example.com
ROLE__ADMIN_PASSWORD=Admin123!
ROLE__ADMIN_FIRST_NAME=Admin
ROLE__ADMIN_LAST_NAME=User

ROLE__ADMIN_ROLE_CODE=admin
ROLE__DEFAULT_USER_ROLE_CODE=user

ROLE__BOOTSTRAP_ENABLED=true

LIMITER__DEFAULT_LIMITS=["10/minute"]

LOGGING__FILE_NAME = 'my_log.log'

EMAIL__USERNAME = 'username@gmail.com'
EMAIL__PASSWORD = 'secret_password'
EMAIL__TITLE = 'title'
EMAIL__PORT = 587
EMAIL__SERVER = 'smtp.gmail.com'
EMAIL__FROM_NAME = 'Capacity Planning'
EMAIL__NOTIFICATION_LIFETIME_SECONDS = 3600
EMAIL__TEMPLATES_DIR = 'templates'
EMAIL__BASE_URL = 'http://locallost:8080/'