DB_SCHEME=postgresql+asyncpg
DB_POSTGRES_HOST=localhost
DB_POSTGRES_PORT=5432
DB_POSTGRES_DB=capacity_planning
DB_POSTGRES_USER=postgres
DB_POSTGRES_PASSWORD=postgres
DB_ECHO=False

AUTH_PRIVATE_KEY_PATH=private.pem
AUTH_PUBLIC_KEY_PATH=public.pem
AUTH_ACCESS_TOKEN_LIFETIME_SECONDS=600
AUTH_REFRESH_TOKEN_LIFETIME_SECONDS=3600
AUTH_ALGORITHM=HS256
